/* 
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
*/

/* General styling */

body{
    padding: 0;
    background-color: #7D5A50;
    font-family: 'Josefin Sans', sans-serif;
}

.btn{
    background-color: #7D5A50;
    color: #FCDEC0;
    font-weight: 800;
    border: 1px solid #FCDEC0;
    width: 10vw;
    margin-top: 2vh;
}

.btn:hover{
    background-color: #E5B299;
    color:#7D5A50;
    font-weight: bolder;
    font-size: large;
    border: 1px solid #7D5A50;
    width: 10vw;
}

.btn-primary{
    background-color:#FCDEC0;
    color:#7D5A50;
    font-weight: 800;
    border: 1px solid #FCDEC0;
    margin-top: 4vh;
    padding: 2vh;
}

.btn-primary:hover{
    background-color:#FCDEC0;
    color:#7D5A50;
    font-weight: bolder;
    font-size: large;
    border: 1px solid #7D5A50;
    width: 10vw;
}

.page-links{
    color: #FCDEC0;
    font-size: large;
    font-family: 'Dancing Script', cursive;
}

.page-links:hover{
    color: #FCDEC0;
    font-size: larger;
}

.circle{
    height: 20rem;
    width: 20rem;
    background-color: #E5B299;
    opacity: 0.2;
    border-radius: 50%;
    display: inline-block;
    /* float:left; */
}

.star{
    margin: 20px;
    /* float: right; */
    z-index: -20;
    opacity:0.3;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-right: 45px solid transparent;
    border-bottom: 40px solid #B4846C;
    border-left: 45px solid transparent;
    transform: rotate(35deg);
    cursor: pointer;
}

.star:after {
    position: absolute;
    display: inline-block;
    left:-45px;
    top:0px;
    width: 0px;
    height: 0px;
    border-right: 45px solid transparent;
    border-bottom: 40px solid #B4846C;
    border-left: 45px solid transparent;
    content: '';
    transform: rotate(-70deg);
    cursor:pointer;
}

.star:before {
    position: absolute;
    display: inline-block;
    left:-32px;
    top:-20px;
    width: 0px;
    height: 0px;
    border-right: 16px solid transparent;
    border-bottom: 35px solid #B4846C;
    border-left: 16px solid transparent;
    content: '';
    transform: rotate(-34deg);
    cursor:pointer;
}

/* Navbar */
ul,li{
    list-style: none;
}

.navbar{
    padding: 1vw;
}

.navbar-collapse{
    float: right;
    padding-top: 1.5vh;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    color: #FCDEC0;
    text-decoration: none;
    padding: 1vw;
    font-size:5rem;
    font-weight: 700;
}

.navbar-brand:hover{
    font-family: 'Dancing Script', cursive;
    color: #FCDEC0;
    text-decoration: none;
    font-size: 6rem;
}

.nav-link{
    color: #FCDEC0;
    text-decoration: none;
    top: 1vh;
    padding:1vw;
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.nav-link:hover{
    text-decoration: none;
    font-size: larger;
    color: #FCDEC0;
    background-color: #B4846C;
}

.navbar-toggle{
    background-color: #FCDEC0;
}

/* Signup and Signin page styling */
.signup-card{
    width: 35%;
    border: #B4846C 2px solid;
    border-radius: 12px;
    background-color: #FCDEC0;
    padding: 8vh 6vh;
    color: #7D5A50;
    font-weight: 500;
    font-size: large;
}

.sign-in-text{
    margin-top:2vh;
    color: #FCDEC0;
    font-weight: bold;
}


/* Profile page styling */
.profile-page{
    color: #FCDEC0;
}

.profile-pic{
    border:none;
    border-radius: 50%;
}

.update-profile{
    color: #FCDEC0;
    align-items: center;
}

.bio-update{
    width: 50%;
}

.decorate{
    margin-top: 6vh;
}

.display-user-pitches{
    border-left: #FCDEC0 solid 3px;
    padding: 0 4vw;
}

.new-pitch-btn{
    float: right;
}

.vote-icons{
    height: 4vh;
    width: 4vw;
}


/* Home page styling */
.home-page-quote{
    color:white;
    font-size: 8vh;
    width: 40%;
    margin: auto;
    font-weight: bolder;
}

.quote-author{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size:xx-large;
    float: right;
}

.new-pitch{
    color: #FCDEC0;
    width: 40%;
    margin: 10vh auto;
    font-weight: 700;
}

/* Styling for create pitch form */

.create-pitch-form{
    color:#FCDEC0;
    width: 30%;
    margin: auto;
}

.display-star{
    margin-top: 4vh;
}


/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .signup-card{
        width: 80%;
        padding: 4vh 3vh;
    }
    .btn{
        width: auto;
    }
    .navbar{
        padding: 3vw 1vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .signup-card{
        width: 50%;
        padding: 4vh 3vh;
    }
    .btn{
        width: auto;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .signup-card{
        width: 30%;
        padding: 4vh 3vh;
    }
}

