{% extends 'base.html' %}

{% block content %}
<div class="display-comments">
    <div class="row">
        <div class="col-md-6">
            {{pitch.pitch}}
        </div>
        <div class="col-md-6">
            <h2>Comments<span class="new-comment-btn">
                <a class="btn-primary"
                    href="/add/comments/{{pitch.id}}">
                    NEW COMMENT
                </a>
            </span></h2>
            {% if comments %}
            {% for comment in comments %}
                <p>{{comment.comment}}</p>
            {% endfor %}
            {%else%}
            <p>No comments available for this pitch.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}